<div class="container">
    <mat-label>Opciones de consulta</mat-label>
    <div class="row">
        <mat-form-field class="col">
            <mat-label>Numero de registros</mat-label>
            <input matInput [(ngModel)]="querysize" type="number">
        </mat-form-field>
        <mat-form-field class="col">
            <mat-label>Registro inicial</mat-label>
            <input matInput [(ngModel)]="last" type="text">
        </mat-form-field>
    </div>
    <div class="row">
        <div class="btn-group col">
            <button mat-button (click)="changeSize()" class="btn btn-success">Desplegar</button>
        </div>
    </div>
    <!--Clients table-->    
</div>
<div class="container">
    <!--Clients table-->
    <table class="table table-hove">
        <thead>
            <td>No.</td>
            <td>Apellidos</td>
            <td>Nombres</td>
            <td>Cedula</td>
            <td>Genero</td>
            <td></td>
        </thead>
        <tr *ngFor='let client of clients ; let i = index'>
            <td>{{ i+1 }}</td>
            <td>{{ client.lastname }}</td>
            <td>{{ client.name }}</td>
            <td>{{ client.ci }}</td>
            <td>{{ client.gender }}</td>
            <td>
                <button mat-button class="btn btn-sm btn-info btntable"  [routerLink]="['/client', client.idclient]"><fa-icon [icon]="faInfo"></fa-icon></button>
                <button mat-button class="btn btn-sm btn-warning btntable" (click)="update(client)"><fa-icon [icon]="faEdit"></fa-icon></button>
                <button mat-button class="btn btn-sm btn-danger btntable" (click)="delete(client)"><fa-icon [icon]="faTrash"></fa-icon></button>
            </td>
        </tr>
    </table>
    
                        

    
</div>


