<div class="container">
    <mat-label>Opciones de consulta</mat-label><br>
    <div class="row">
        
            <mat-label>Numero de registros</mat-label>
            <select [value]="limit" (change)="changeLimit($event)">
                <option>5</option>
                <option>10</option>
                <option>20</option>
            </select>

    </div><br>
    <!--Clients table-->    
</div>
<div class="container">
    <!--Clients table-->
    <table class="table table-hovered">
        <thead>
            <td>No.</td>
            <td>Apellidos</td>
            <td>Nombres</td>
            <td>Cédula</td>
            <td>Género</td>
            <td>Phone</td>
            <td></td>
            <td></td>
            <td></td>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients; let i = index" >
                <td>{{i | masmas:(currentPage - 1) * limit + 1}}</td>
                <td>{{ client.lastname }}</td>
                <td>{{ client.name }}</td>
                <td>{{ client.ci }}</td>
                <td>{{ client.gender }}</td>
                <td>{{ client.phone }}</td>
                <td><button mat-button class="btn btn-sm btn-info btntable"  [routerLink]="['/client', client.idclient]"><mat-icon>info</mat-icon></button></td>
                <td><button mat-button class="btn btn-sm btn-warning btntable" (click)="update(client)"><mat-icon>update</mat-icon></button></td>
                <td><button mat-button class="btn btn-sm btn-danger btntable" (click)="delete(client)"><mat-icon>clear</mat-icon></button></td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <button class="page-link" (click)="loadPage(1)" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </button>
          </li>
          <li class="page-item" *ngFor="let pg of pages"><button class="page-link" (click)="loadPage(pg)">{{pg}}</button></li>              
          <li class="page-item">
            <button class="page-link" (click)="loadPage(numberPages)" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </button>
          </li>
        </ul>
      </nav>
</div>


