<div class="container">
    
    <div class="row">
        <div class="col">
            <p>Lista de ciientes</p>
            <table>
                <thead>
                    <td>Nombres</td>
                    <td>Apellidos</td>
                    <td>Cedula</td>
                    <td>Telefono</td>
                    <td>Fecha de nacimiento</td>
                    <td>Direccion</td>
                    <td>Genero</td>
                    <td></td>
                </thead>
                <tr *ngFor='let client of clients'>
                    <td>{{ client.name }}</td>
                    <td>{{ client.lastname }}</td>
                    <td>{{ client.ci }}</td>
                    <td>{{ client.phone }}</td>
                    <td>{{ client.borndate }}</td>
                    <td>{{ client.direction }}</td>
                    <td>{{ client.gender }}</td>
                    <td>
                        <button class="btn btn-sm btn-info"  (click)="retrieve(client)"><fa-icon [icon]="faInfo"></fa-icon></button>
                        <button class="btn btn-sm btn-warning" (click)="update(client)"><fa-icon [icon]="faEdit"></fa-icon></button>
                        <button class="btn btn-sm btn-danger" (click)="delete(client)"><fa-icon [icon]="faTrash"></fa-icon></button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    


</div>


