
<div>
    <h2>Agendar consulta</h2>

    <form [formGroup]="formConsult" (ngSubmit)="onSubmit()" class="user">
        <div class="row">
            <div class="col">
                <mat-form-field apparience="legacy" class="formWidth" >
                    <mat-label>Fecha</mat-label>
                    <input matInput type="datetime-local" type="date" formControlName="date" [(ngModel)]="consult.date" [ngClass]="{'is-invalid': submitted && f.date.errors }">
                    <mat-error *ngIf="f.date.hasError('required')&&submitted">
                        La fecha es requerida
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field apparience="field" class="short-input formWidth">
                    <mat-label>Responsable</mat-label>
                    <mat-select [(ngModel)]="consult.idveterinary" formControlName="idveterinary" [ngClass]="{'is-invalid': submitted && f.idveterinary.errors }">
                        <mat-option [value]="item.idveterinary" *ngFor="let item of veterinaries">{{ item.name }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.idveterinary.hasError&&submitted">
                        El nombre del respnsable es requerido
                    </mat-error>   
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field apparience="field" class="short-input formWidth">
                    <mat-label>Estado de consulta</mat-label>
                    <mat-select [(ngModel)]="consult.status" formControlName="status" [ngClass]="{'is-invalid': submitted && f.status.errors }">
                        <mat-option value=1>Agendado</mat-option>
                    </mat-select>
                    <mat-error *ngIf="f.status.hasError('required')&&submitted">
                        No ha designado un estado a la consulta
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        
        <div class="btn-group">
            <button type="submit" class="btn btn-success">
                <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar</button>
            <button type="reset"(click)="onReset()" class="btn btn-danger">
                <fa-icon [icon]='faBackspace'></fa-icon>&nbsp;Cancelar</button>
        </div>
    </form>
    

</div>
